@import "../bower_components/bootstrap/less/bootstrap.less";
@import "animations.css";
@icon-font-path: "../fonts/glyphicons/";
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,100italic,300italic,400italic,500italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300);

body, h1, h2, h3, h4,
h5, button, a {
  font-family: "Roboto", Helvetica, Arial, sans-serif !important;
  font-weight:100 !important;
}
input {
  &.rounded {
    border-radius:300px;
    border:none;
    margin-right:0px;
    .border-right-radius(0px);
    padding:12px 18px;
  }
  &:focus { outline:none; }
}
#send {
  margin-left:-3px;
  border-radius:300px;
  .border-left-radius(0px);
}
p {
  font-size:16px;
  line-height:25px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight:100;
}
.browsehappy {
  margin: 0.2em 0; 
  background: #ccc; 
  color: #000; 
  padding: 0.2em 0; 
}

.jumbotron {
  margin: 50px auto 0 auto;
}

#hero {
  background: url("../images/hero.jpg") no-repeat top center;
  background-size: cover;
  color: #fff;
  height:700px;
  padding-top:60px;

  .hero-content {
    padding-left:0px !important;
    margin-top:117px;
    position:relative;
    top:50%;
  }
  h1, h2, h5 { margin:0; }

  h1 {
    font-size: 30px;
    font-weight:normal;
    color: rgba(255,255,255,0.5);

    a {
      color: rgba(255,255,255,0.5);

      &:hover { color: rgba(255,255,255,0.8); text-decoration:none;}
    }
  }
  h5 {
    font-size: 18px;
    font-style:italic;
    color: rgba(255,255,255,0.5);
    font-weight:normal;
    margin-bottom:5px;
  }
  h2 {
    font-weight:normal;
    font-size:70px;
    margin-bottom:20px;
  }

  p {
    .opacity(0.5);
    margin-bottom:50px;
  }

  .learn-more {
    border:2px solid rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.5);
    border-radius: 300px;

    &:hover { border-color:#fff; color: #fff; }
  }
}

#features {
  .feature {
    border-bottom:1px solid #ddd;
    padding: 40px 0;

    .feature-image {
      position:absolute;
      top:50%;
    }   
    .container { position:relative; }
    h2 {
      font-size:24px;
      color: #888;
      margin-bottom:20px;
      span { font-size: 55px; margin-left:-2px; display:block; color:black;}
      &.leader {
        font-size:40px;
        color:black;

        span {
          display:inline;
          font-size:inherit;
          margin-left:inherit;
        }
      }
    }
    .blue {
      color:#3a7dd8;
    }
    .purple {
      color: #b13ad8;
    }
  }

  .fingertips {
    padding:0px;
    overflow:hidden;

    .feature-description {
      padding-top:230px;
    }
    .container {
      height:750px;
    }
    .feature-image {
      margin-top:-379px;
      height:758px;
      top:auto;
      bottom:0;
      width:668px;
      .img-retina("../images/feature-browser.jpg", "../images/feature-browser@2x.jpg", 100%, 100%);
      background-position:bottom center;
    }

  }
  .suggest {
    .feature-description {
      padding:150px 0;
    }
    .feature-image {
      margin-top:-225px;
      width:437px;
      height:450px;
      .img-retina("../images/feature-suggest.png", "../images/feature-suggest@2x.png", 100%, 100%);

    }
  }
  .connect {
    .feature-description {
      padding:100px 0;
    }
    .feature-image {
      .img-retina("../images/feature-connect.jpg", "../images/feature-connect@2x.jpg", 100%, 100%);
      background-position:center center;
      width:372px;
      margin-top:-124px;
      height:248px;
    }
  }
  .music-tracks {
    padding-top:80px;
    border-bottom:0px;
    .img-retina("../images/feature-tracks.jpg", "../images/feature-tracks@2x.jpg", cover, cover);
    background-repeat: no-repeat;
    height:550px;
    text-align:center;
    background-size:cover;
  }
  .mobile-app {
    padding-top:60px;
    padding-bottom:0px;
    border:none;

    .container {
      height:590px;
      overflow:hidden;
    }
    .feature-description {
      margin-top:160px;
    }
    .feature-image {
      width: 487px;
      top: auto;
      height:570px;
      bottom:-5px;
      margin-top:-285px;
    .img-retina("../images/feature-iphone.jpg", "../images/feature-iphone@2x.jpg", 100%, 100%);
    }
  }
  .feature-description {

  }
}
#signup {
  background-color:#000;
  .img-retina("../images/signup-bg.jpg", "../images/signup-bg@2x.jpg", 100%, 100%);
  padding:130px 0;

  .signup-leader {
    color:#fff;
    text-align:center;
    h2 { font-size: 36px; }
    p { margin-bottom:30px; font-size: 20px; font-weight:100; .opacity(0.5); }
  }
}

// Animation Settings

.animation {
  .feature {
    .feature-image, .feature-description { .transition(all 500ms ease-out); opacity:0; }
    .feature-image { .scale(0.8); }
    .feature-description { .translateX(-50px); }
    &.suggest {
      .feature-image { .scale(0.6); }
    }
    &.mobile-app {
      .feature-image { .scale(1); .translateX(100px); }
    }
  }
  .signup-leader { visibility: hidden; }
}
.animate {
      .feature-image, .feature-description {  opacity:1 !important; }
      .feature-image { .scale(1) !important;}
      .feature-description {.translateX(0) !important;   }
      
      .mobile-app {
        .feature-image {.translateX(0) !important;}
      }


    }

@media only screen and (max-width: @screen-sm) {
  * {
   /*CSS transitions*/
   -o-transition-property: none !important;
   -moz-transition-property: none !important;
   -ms-transition-property: none !important;
   -webkit-transition-property: none !important;
   transition-property: none !important;
   /*CSS transforms*/
   -o-transform: none !important;
   -moz-transform: none !important;
   -ms-transform: none !important;
   -webkit-transform: none !important;
   transform: none !important;
   /*CSS animations*/
   -webkit-animation: none !important;
   -moz-animation: none !important;
   -o-animation: none !important;
   -ms-animation: none !important;
   animation: none !important;
  }
}