        <footer id="footer" class="fade-in">
        <div class="container">
            <div class="footer-links row-fluid">
                <ul class="unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="copyright row-fluid">
                <ul class="unstyled align-left">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Like us on Twitter</a></li>
                    <li><a href="#">Like us on Facebook</a></li>
                </ul>
                <p class="align-right">&copy; 2013. All Rights Reserved.</p>
            </div>
        </div>
        </footer>