<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <a href="#" type="button" class="close" ng-click="cancel()">&times;</a>
      <h4 class="modal-title">Connect with Hypem</h4>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
      <form class="form form-horizontal">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" ng-model="userInput" id="username" placeholder="Enter username">
          <ul>
            <li>madieonori</li>
            <li>samnoble95</li>
            <li>daphnewu</li>
            <li>ngatsala</li>
            <li>SavanahW</li>
            <li>AnndersAnnd</li>
            <li>jamiemccleave</li>
          </ul>
        </div>
      </form>
      </div>
    </div>
    <div class="modal-footer">
      <button class=" align-left btn btn-primary" ng-click="login(userInput)">Login</button>
    </div>
  </div>        
</div>