
      <div class="progress ">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          <span class="sr-only">60% Complete</span>
        </div>
      </div>
      <div class="music-player-inner">
        <div class="item alterbridge active">
          <div class="container">
            <p class="media-controls hidden-xs">
              <a href="#" class="next-prev prev">Previous </a>
              <a href="#" class="play" ng-click="play()" ng-hide="play.playing">Play </a>
              <a href="#" class="pause" ng-click="pause()">Pause </a>
              <a href="#" class="next-prev next">Next </a>
            </p>
            <div class="carousel-caption align-left">
              <h1>Broken Wings</h1>
              <p class="artist">Alter Bridge</p>
              <!--<button class="btn btn-large" ng-click="toggle = !toggle">Toggle Content</button>
              <div class="slide" ng-if="toggle">
                <p>Some content</p>
              </div> -->
              <ul>
                <li ng-repeat="album in albums">{{album.title}}</li>
                </ul>
            </div>
            <div class="itunes">
              <p class="align-right"><a class="btn btn-large btn-primary" href="#">iTunes</a></p>
            </div>
          </div>
        </div>
      </div>
       <script>
        
        </script>


