
<style type="text/css">
/*
 The animate class is apart of the element and the ng-enter class
 is attached to the element once the enter animation event is triggered
*/
.reveal-animation.ng-enter {
 -webkit-transition: 1s linear all; /* Safari/Chrome */
 -moz-transition: 1s linear all; /* Firefox */
 -o-transition: 1s linear all; /* Opera */
 transition: 1s linear all; /* IE10+ and Future Browsers */
 
 /* The animation preparation code */
 opacity: 0;
}
 
/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.reveal-animation.ng-enter.ng-enter-active {
 /* The animation code itself */
 opacity: 1;
}
</style>
      <div class="progress ">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          <span class="sr-only">60% Complete</span>
        </div>
      </div>
      <div class="carousel-inner">
        <div class="item alterbridge active">
          <div class="container">
            <p class="media-controls hidden-xs">
              <a href="#" class="next-prev prev">Previous </a>
              <a href="#" class="play">Play </a>
              <a href="#" class="next-prev next">Next </a>
            </p>
            <div class="carousel-caption align-left">
              <h1>Broken Wings</h1>
              <p class="artist">Alter Bridge</p>
              <!--<button class="btn btn-large" ng-click="toggle = !toggle">Toggle Content</button>
              <div class="slide" ng-if="toggle">
                <p>Some content</p>
              </div> -->
            </div>
            <div class="itunes">
              <p class="align-right"><a class="btn btn-large btn-primary" href="#">iTunes</a></p>
            </div>
          </div>
        </div>
      </div>
