<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../img/dummy-carousel.png" alt="First slide" style="height: 500px; width: 100%; display: block;">
          <div class="container">
            <div class="carousel-caption align-left">
              <h1>Broken Wings</h1>
              <p>Alter Bridge</p>
            </div>
            <div class="itunes">
              <p class="align-right"><a class="btn btn-large btn-primary" href="#">iTunes</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>



<!-- <div class="hero-unit">
  <h2>Hola {{title}}!</h2>
  <p>You now have succesfully made this work!</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
</div> -->
