<div class="volume-controls"  ng-controller="VolumeCtrl">
  <a href="#" ng-click="muteVolume()" ng-mouseenter="showVolumeSlider = true" ng-mouseleave="showVolumeSlider = true" class="volume volume-up" ng-hide="muted">Mute</a>
  <a href="#" ng-click="muteVolume()" class="volume mute" ng-show="muted">Unmute</a>
  <div class="volume-slider vertical-container hide-effect" ng-mouseleave="showVolumeSlider = false" ng-show="showVolumeSlider">
    <div ui-slider="volumes.options" use-decimals  ng-model="volumes.default"></div>
  </div>
</div>